
__pycache__/



venv/
.venv
venv_surface_pro/
.venv_surface_pro
env/
.env


# pyTorch / training 
*.pt
*.pth
*.ckpt
*.onnx

# experiments / checkpoints
runs/
outputs/
checkpoints/

# jupyter
.ipynb_checkpoints/


# datasets / extracted frames
frames/
keypoint_data/

.vscode/

# hugging face / timm cache
.cache/